.formContainer{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border:0.5px solid grey;
    border-radius: 8px;
    padding:1rem;
}

.progressDiv{
    width: 20rem;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supplyParent{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}